.site-header{
  background: white;
  height: 68px;
  left: 0;
  padding: var(--space-tiny) var(--space-smallish) 0;
  position: fixed;
  top: 0;
  transition: height 360ms;
  width: 100%;
}
.heading{
  height: 100%;
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  width: 100%;
}
.heading__group{
  padding-bottom: 8px;
  padding-left: 56px;
  padding-top: 8px;
  transition: padding 300ms;
}
.zoom--out .heading__group{
  font-size: 0.8rem;
  padding-bottom: 8px;
  padding-left: 0;
  padding-top: 8px;
}
.site-header [class^="heading--"]{
  margin: 0;
}
/* Header zoomed-out states */
.zoom--out .site-header{
  height: 64px;
}
@media (min-width: 821px){
  .site-header{
    height: 96px;
    padding: 0;
  }
  .heading__group{
    padding-bottom: 24px;
    padding-left: 80px;
    padding-top: 24px;
  }
}
