.site-header{
  background: white;
  height: 140px;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: height 360ms;
  width: 100%;
}
.heading{
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 80%;
}
.heading__group{
  padding: 34px 0 0 130px;
  transition: padding 300ms;
}
.zoom--out .heading__group{
  font-size: 0.8rem;
  padding-left: 20px;
  padding-top: 12px;
}
.site-header [class^="heading--"]{
  margin: 0;
}
/* Header zoomed-out states */
.zoom--out .site-header{
  height: 80px;
}
