.avatar{
  border: 3px solid var(--theme-bg);
  border-radius: 50%;
  height: 100px;
  margin-right: var(--space-gutter);
  overflow: hidden;
  width: 100px;
}
.avatar__link{
  display: block;
  height: 100%;
  width: 100%;
}
.avatar__image{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
