.avatar{
  border: 3px solid var(--theme-bg);
  border-radius: 50%;
  height: 100px;
  left: calc(var(--space-gutter)/2);
  overflow: hidden;
  position: absolute;
  top: calc(50% - 52px);
  transition: transform 300ms;
  width: 100px;
}
.zoom--out .avatar{
  transform: scale(0.5) translateX(-150%);
}
.avatar__link{
  display: block;
  height: 100%;
  width: 100%;
}
.avatar__image{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
