.avatar{
  border: 3px solid var(--theme-bg);
  border-radius: 50%;
  height: 10vw;
  max-height: 100px;
  max-width: 100px;
  overflow: hidden;
  width: 10vw;
}
.avatar__link{
  display: block;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}
.avatar__image{
  object-fit: cover;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
