body{
  color: var(--theme-color);
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  font-weight: 200;
}
[class^="heading--"]{
  font-weight: 200;
  margin-bottom: 1em;
}
[class*="--medium"]{
  font-weight: 400;
}
[class*="--heavy"]{
  font-weight: 600;
}
.heading--1{
  font-size: 3rem;
  line-height: 1.05em;
}
.heading--2{
  font-size: 2.25rem;
  line-height: 1.25em;
}
.heading--3{
  font-size: 1.75rem;
  line-height: 1.25em;
}
.heading--4{
  font-size: 1.125rem;
  line-height: 1.225em;
}
.content__para{
  line-height: 1.375em;
}
.content__link{
  color: var(--colour-blue-calm);
}
