/* Floats */
.flt--l{
  float: left;
}
.flt--r{
  float: right;
}
.clr{
  clear: both;
}
.clr--l{
  clear: left;
}
.clr--r{
  clear: right;
}
.box::after{
  clear: both;
  content: "";
  display: table;
}
/* Spacing */
.space--y{

}
.space--y + .space--y{
  margin-top: var(--space-gutter);
}
