:root{
  /* Colour variables */
  --theme-colour-black: #000000;
  --theme-colour-slate: #333333;
  --theme-colour-chalkboard: #6f6f6f;
  --theme-colour-grey: #b4b4b4;
  --theme-colour-lightgrey: #dadada;
  --theme-colour-dust: #eeeeee;
  --theme-colour-darkblue: #005f6b;
  --theme-colour-deepblue: #008c9e;
  --theme-colour-calmblue: #00b4cc;
  --theme-colour-skyblue: #00dffc;
  --space-gutter: 24px;
  --space-tiny: 4px;
  --space-smallest: 8px;
  --space-smaller: 12px;
  --space-smallish: 16px;
  --space-medium: 24px;
  --space-largish: 32px;
  --space-larger: 48px;
  --space-largest: 64px;
}
