:root{
  --space-gutter: 20px;
  --theme-bg: #eee;
  --theme-color: #3a3a3a;
  --theme-bg-light: #fff;
  --theme-color-light: #6f6f6f;
  --theme-bg-dark: #3a3a3a;
  --theme-color-dark: #f3f3f3;
  --colour-slate: #343838;
  --colour-blue-dark: #005f6b;
  --colour-blue-deep: #008c9e;
  --colour-blue-calm: #00b4cc;
  --colour-blue-light: #00dffc;
}
