<div class="heading">
  <figure class="avatar">
    <a href="/" class="avatar__link">
      <img class="avatar__image" src="https://secure.gravatar.com/avatar/b1762fcc03b6c367fd95a3fa11430006?size=300">
    </a>
  </figure>
  <section class="heading__group">
    <h1 class="heading--3"><a href="/" class="link--silent">jayx.github.io</a></h1>
    <h2 class="heading--6">just another vanilla website</h2>
  </section>
  <nav class="nav--main">
    <span class="icon--menu-toggle nav--main__trigger" data-toggle-trigger="main-menu"></span>
    <section class="nav--main__tabs" data-toggle-target="main-menu">
      <ul class="tabs__nav">
        <li class="tabs__nav-item">
          <span class="icon--menu tabs__toggle" data-toggle-trigger="about-menu"></span>
        </li>
        <li class="tabs__nav-item">
          <span class="icon--menu-social tabs__toggle" data-toggle-trigger="social-menu"></span>
        </li>
        <li class="tabs__nav-item">
          <span class="icon--menu-lib tabs__toggle" data-toggle-trigger="lib-menu"></span>
        </li>
      </ul>
      <ul class="tabs__panels">
        <li class="tabs__panel-item" data-toggle-target="about-menu">
          <ul class="nav-main__list">
            <li class="nav-main__list-item"><a href="/about/" class="nav-main__link">About</a></li>
            <li class="nav-main__list-item"><a href="#" class="nav-main__link">Articles</a></li>
            <li class="nav-main__list-item"><a href="#" class="nav-main__link">Cirriculum Vitae</a></li>
            <li class="nav-main__list-item"><a href="#" class="nav-main__link">Sevices</a></li>
            <li class="nav-main__list-item"><a href="#" class="nav-main__link">Work</a></li>
          </ul>
        </li>
        <li class="tabs__panel-item" data-toggle-target="social-menu">
          <ul class="nav-main__list">
            <li class="nav-main__list-item"><a href="#" class="nav-main__link">LinkedIn</a></li>
            <li class="nav-main__list-item"><a href="#" class="nav-main__link">StackOverflow</a></li>
            <li class="nav-main__list-item"><a href="#" class="nav-main__link">Codepen</a></li>
            <li class="nav-main__list-item"><a href="#" class="nav-main__link">GitHub</a></li>
            <li class="nav-main__list-item"><a href="#" class="nav-main__link">Facebook</a></li>
            <li class="nav-main__list-item"><a href="#" class="nav-main__link">Twitter</a></li>
          </ul>
        </li>
        <li class="tabs__panel-item" data-toggle-target="lib-menu">
          <ul class="nav-main__list">
            <li class="nav-main__list-item"><a href="#" class="nav-main__link">Library</a></li>
            <li class="nav-main__list-item"><a href="#" class="nav-main__link">On GitHub</a></li>
          </ul>
        </li>
        <!-- <li>
          <a href="post.html">Blog</a>
        </li> -->
      </ul>
    </section>
  </nav>
</div>
