[class*="post__gallery"] {
  height: clamp(20rem, 20vw, 45rem);
  margin-block: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.post__gallery--up {
  position: relative;
  margin-bottom: -6rem;
  top: -8rem;
}

.gallery__slider {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.gallery__slider:not(.slider--scrolling) {
  justify-content: center;
}

.gallery__image {
  aspect-ratio: 1;
  height: 100%;
}

.gallery__image img:hover {
  scale: 125%;
  transition: scale 250ms;
  z-index: 99;
}

/* Slideshow */
.slideshow {
  background-color: var(--slideshow-background);
  border: 1px solid var(--slideshow-border);
  border-radius: 0.5em;
  box-shadow: 1px 1px 3px var(--slideshow-border);
  padding: 1em;
}

.slideshow__reel {
  aspect-ratio: 2 / 1;
  background-color: var(--body-bg);
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}

.slideshow__slide {
  aspect-ratio: 2 / 1;
  height: 100%;
  position: relative;
  text-align: center;
}

.slide__image {
  display: inline-block;
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
}

.slideshow__pagination {
  margin-top: 1em;
}

.slideshow__pagination ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.slideshow__pagination ul li {
  aspect-ratio: 1;
  border: 3px solid var(--slideshow-background);
  border-radius: 50%;
  box-shadow: 1px 1px 3px var(--slideshow-border);
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 4em;
}

.slideshow__pagination ul li + li {
  margin-left: -1em;
}

.slideshow__pagination a {
  display: inline-block;
  text-decoration: none;
}

.slide__thumb {
  min-height: 100%;
  object-fit: cover;
}

.slide__caption {
  align-items: center;
  background-color: var(--body-bg);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 1em;
  position: absolute;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms;
}

.slideshow__slide:hover .slide__caption,
.slideshow__slide:focus .slide__caption {
  transform: translateY(0);
}

.slide__caption .back,
.slide__caption .forward {
  display: inline-flex;
  font-weight: 600;
  gap: 1em;
  text-decoration: none;
}

.slide__caption .back::before,
.slide__caption .forward::after {
  background-color: var(--text-color);
  content: "";
  display: inline-block;
  width: 0.5em;
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.slide__caption .back::before {
  mask-image: url(../img/icons/angle-left.svg);
  -webkit-mask-image: url(../img/icons/angle-left.svg);
}

.slide__caption .forward::after {
  mask-image: url(../img/icons/angle-right.svg);
  -webkit-mask-image: url(../img/icons/angle-right.svg);
}

.slide__synopsis {
  margin: 0;
  white-space: balance;
}


