/* Center content and limit width */
[class*="box--"] {
  max-width: 42rem;
  width: 80vw;
}

@media (min-width: 48.25rem) {
  [class*="box--"] {
    width: 90vw;
  }

  .box--xs {
    max-width: 48rem;
  }
  
  .box--s {
    max-width: 64rem;
  }
  
  .box--m {
    max-width: 80rem;
  }
  
  .box--l {
    max-width: 96vw;
  }
}

@media (min-width: 64.25rem) {
  [class*="grid--"] {
    display: grid;
    gap: 4rem;
    min-width: 100%;
  }
}

.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4 {
  grid-template-columns: repeat(4, 1fr);
}

/* Make grid items span multiple columns and rows */
[class*="grid__item"] {
  grid-column: auto / span 1;
  grid-row: auto / span 1;
}

/* Columns */
[class*="grid__item--"][class*="--c2"] {
  grid-column: auto / span 2;
}

[class*="grid__item--"][class*="--c3"] {
  grid-column: auto / span 3;
}

[class*="grid__item--"][class*="--c4"] {
  grid-column: auto / span 4;
}

/* Rows */
[class*="grid__item--"][class*="--r2"] {
  grid-row: auto / span 2;
}

[class*="grid__item--"][class*="--r3"] {
  grid-row: auto / span 3;
}

[class*="grid__item--"][class*="--r4"] {
  grid-row: auto / span 4;
}

/* Make flexbox utilities */
.row,
.stack {
  display: flex;
}

.row {
  align-items: center;
  flex-direction: row;
}

.spaced--out {
  justify-content: space-between;
}

/* Gutter utility can be used with either grid or flexbox */
/* To start off, use margin-top to separate grid items before they display grid */
@media (max-width: 64rem) {
  [class*="grid__item"] + [class*="grid__item"] {
    margin-top: 2rem;
  }

  .gutter--none [class*="grid__item"] + [class*="grid__item"] {
    margin-top: 0;
  }

  .gutter--xs [class*="grid__item"] + [class*="grid__item"] {
    margin-top: 0.25rem;
  }

  .gutter--s [class*="grid__item"] + [class*="grid__item"] {
    margin-top: 0.5rem;
  }

  .gutter--m [class*="grid__item"] + [class*="grid__item"] {
    margin-top: 1rem;
  }
}

.gutter--none {
  gap: 0;
}

.gutter--xs {
  gap: 0.25rem;
}

.gutter--s {
  gap: 0.5rem;
}

.gutter--m {
  gap: 1rem;
}

.gutter--l {
  gap: 2rem;
}
