/* Post general layout is covered in page-layout.css */
/* Category posts list - .post--with-image */
.post--with-image {
  display: flex;
  flex-direction: column;
}

.post--with-image[class*="--c"] {
  flex-direction: row;
  gap: 4rem;
}

.post--with-image .post__image img {
  aspect-ratio: 1;
  object-fit: cover;
}

.post--with-image[class*="--c2"] .post__image {
  max-width: calc(50% - 2rem);
  min-width: calc(50% - 2rem);
  width: calc(50% - 2rem);
}

.post--with-image[class*="--c3"] .post__image {
  margin-bottom: 0;
  max-width: calc(33.3% - (8rem / 3));
  min-width: calc(33.3% - (8rem / 3));
  width: calc(33.3% - (8rem / 3));
}

.post--with-image[class*="--c3"] .post__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Post header */
.post__header {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}

.post__heading {
  margin: 0;
}

.post .next {
  text-decoration: none;
}

.post a:hover {
  color: var(--text-color-lighter);
}

/* Separate selector for browsers that support :has */
.post:has(.post__image a:hover) a {
  color: var(--text-color-lighter);
}

.post .next::after {
  margin-left: 0.5em;
}

/* Post meta */
.post__date {
  align-items: center;
  border-right: 2px solid var(--text-color);
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
  font-weight: var(--default-weight-black);
  line-height: 1;
  margin-right: 1rem;
  padding: 0.5rem 1rem 0.5rem 0;
}

.site-main__banner .post__date {
  border-right-color: var(--banner-img-text-color);
}

.post__date .date {
  font-size: 1.4em;
}

.post__date .month {
  line-height: 1.4;
  text-transform: uppercase;
}

.post__category {
  font-size: 0.9rem;
}

/* In-page navigation */
.nav--in-page ul {
  position: sticky;
  top: var(--page-header-scroll);
}

.nav--in-page .active {
  font-weight: var(--default-weight-heavy);
  pointer-events: none;
  text-decoration: none;
}

/* Post image */
.post__image {
  margin-block: 2rem;
}

.post__image img {
  width: 100%;
}

.post__image a img {
  scale: 100%;
  transition: scale 250ms;
}

.post__image a:hover img {
  scale: 105%;
}

.post__image-caption {
  color: var(--text-color-lighter);
  font-size: 0.8rem;
  font-style: italic;
  margin-block: 0.75rem;
}

.post__image-caption > * {
  font-size: inherit;
}

/* Post closing paragraph */
.post__closing {
  background-color: var(--banner-bg);
  border-radius: 0.5em;
  padding: 1em;
}
