html,
body {
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--page-header-scroll);
}

body {
  background-color: var(--body-bg);
  color: var(--text-color);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.4;
  -webkit-font-smoothing: auto;
}

/* Some forgotten elements */
hr {
  border: 0;
  border-top: 1px solid var(--text-color-lighter);
  margin-block: 1.6rem;
}

/* Custom scroll bars */
* {
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg-color);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 0.5rem;
}