html,
body {
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--page-header-scroll);
}

body {
  background-color: var(--body-bg);
  color: var(--text-color);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.4;
  -webkit-font-smoothing: auto;
}
