/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: var(--heading-weight);
  margin-block: 1.4em 0.7em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: var(--heading-size-1);
}

h2 {
  font-size: var(--heading-size-2);
}

h3 {
  font-size: var(--heading-size-3);
}

h4 {
  font-size: var(--heading-size-4);
}

h5 {
  font-size: var(--heading-size-5);
}

h6 {
  font-size: var(--heading-size-6);
  font-weight: var(--default-weight-regular);
}

/* Paragraphs */
p {
  font-size: var(--body-text-size);
}

/* We repeat this pattern in a few places to ensure spacing between blocks of text (paragraphs and lists).
This avoids the whole issue of having to set zero margins when a container has a paragraph or list as a first descendant.
Headings already have a top margin muted, but separating blocks of text in line with their hierarchy and .post__body setting an even margin between blocks. */
p + p {
  margin-top: 1.4em;
}

/* Anchors */
a,
a * {
  color: inherit;
}

/* Font styles */
b,
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small,
.small {
  font-size: 0.75em;
}

/* Lists */
/* We mute the list-style on utility only. Sure, this makes a utlity necessary, but still better than muting list-style everywhere it's not required (e.g. every nav). */
ul:not(.list--silent) {
  list-style-type: disc;
}

/* No need to mute ordered list-style, because we shouldn't use ordered lists for other things */
ol {
  list-style-type: decimal;
}

ul:not(.list--silent),
ol {
  list-style-position: outside;
}

/* Same as with paragraphs, we only set a top margin when a list is preceded by another block. */
* + ul:not(.list--silent),
* + ol {
  margin-top: 1.4rem;
}

/* Set left margin to accommodate count on a list item level to set up for counter increment. */
*:not(.list--silent) > li {
  margin-left: 2em;
}

ul:not(.list--silent) ul:not(.list--silent),
ul:not(.list--silent) ol,
ol ol,
ol ul:not(.list--silent),
*:not(.list--silent) > li + li {
  margin-top: 0.5em;
}

ol {
  counter-reset: section;
  list-style-type: none;
}

ol li {
  position: relative;
}

ol > li::before {
  content: counters(section, ".") ". ";
  counter-increment: section;
  position: absolute;
  right: calc(100% + 0.25rem);
}

dt {
  font-weight: 600;
}

dl > * + * {
  margin-top: 0.5em;
}

/* Set top margins to definition lists adjacent to other elements AS WELL AS definition titles following defintion descriptions.
This ensures consistency in spacing, irrespective of whether we use separate definition lists or multiple definition titles followed by descriptions. */
* + dl,
dd + dt {
  margin-top: 1.4rem;
}

/* Text utilities */
.list--silent {
  list-style: none;
}