body{
  color: var(--text-color);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.4;
  -webkit-font-smoothing: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-block: 1.4em 0.7em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
  font-weight: 400;
}

p {
  font-size: 1em;
}

p + p{
  margin-top: 1.4em;
}

b,strong{
  font-weight: bold;
}

em{
  font-style: italic;
}

small,
.small {
  font-size: 0.75em;
}

ul:not(.list--silent) {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul:not(.list--silent),
ol {
  list-style-position: outside;
}

* + ul:not(.list--silent),
* + ol {
  margin-top: 1.4rem;
}

*:not(.list--silent) > li {
  margin-left: 2em;
}

ul:not(.list--silent) ul:not(.list--silent),
ul:not(.list--silent) ol,
ol ol,
ol ul:not(.list--silent),
*:not(.list--silent) > li + li {
  margin-top: 0.5em;
}

ol {
  counter-reset: section;
  list-style-type: none;
}

ol li {
  position: relative;
}

ol > li::before {
  content: counters(section, ".") ". ";
  counter-increment: section;
  position: absolute;
  right: calc(100% + 0.25rem);
}

dt {
  font-weight: 600;
}

dl > * + * {
  margin-top: 0.5em;
}

* + dl,
dd + dt {
  margin-top: 1.4rem;
}