/* Center content and limit width */
[class*="box--"] {
  max-width: 90vw;
  width: 100vw;
}

@media (min-width: 48rem) {
  .box--s {
    max-width: 50vw;
  }
  
  .box--m {
    max-width: 60vw;
  }
  
  .box--l {
    max-width: 90vw;
  }
}

@media (min-width: 64rem) {
  .grid--2 {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid--3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

[class*="grid--"] {
  display: grid;
  gap: 2rem;
}

/* Gutter utility can be used with either grid or flexbox */
.gutter--none {
  gap: 0;
}

.gutter--xs {
  gap: 0.25rem;
}

.gutter--s {
  gap: 0.5rem;
}

.gutter--m {
  gap: 1rem;
}

/* Make grid items span multiple columns and rows */
[class*="grid__item"] {
  grid-column: auto / span 1;
  grid-row: auto / span 1;
}

/* Columns */
[class*="grid__item--"][class*="--c2"] {
  grid-column: auto / span 2;
}

[class*="grid__item--"][class*="--c3"] {
  grid-column: auto / span 3;
}

[class*="grid__item--"][class*="--c4"] {
  grid-column: auto / span 4;
}

/* Rows */
[class*="grid__item--"][class*="--r2"] {
  grid-row: auto / span 2;
}

[class*="grid__item--"][class*="--r3"] {
  grid-row: auto / span 3;
}

[class*="grid__item--"][class*="--r4"] {
  grid-row: auto / span 4;
}

.row,
.stack {
  display: flex;
}

.row {
  align-items: center;
  flex-direction: row;
}

.spaced--out {
  justify-content: space-between;
}
